<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--  BOOTSTRAP STUFF  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Edit Festival</title>

    <style>
        #festivalEditForm {
            width: 50%;
            margin: 40px 0 75px 150px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding-bottom: 20px;
        }

        input.btn-dark {
            margin-left: 15px;
        }

        #deleteLink {
            float: right;
            margin-right: 20px;
        }
    </style>

    <script>
        function deleteFestival(id) {
            var result = confirm("Festival wirklich löschen?");

            if (result) {
                location.href = "/festival/" + id + "/delete";
            }
        }
    </script>
</head>

<body>

    <!-- Navbar Festival Manager -->
    <nav sec:authorize="hasAuthority('FESTIVAL_MANAGER')" class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">FVIV</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="/" data-offset="80">Back</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#events" data-offset="80">See All Festivals</a>
                    </li>
                </ul>

                <!-- FestivalManager Logout and Icon -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fas fa-user-secret"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()" data-offset="80">Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <form id="festivalEditForm" th:action="@{/festival/edit}" th:object="${festival_form}" method="POST">
        <input type="hidden" th:field="*{id}">

        <div class="form-group col-md-8">
            <label class="col-form-label" for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="location">Location</label>
            <input class="form-control" type="text" th:field="*{location}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="startDate">Start</label>
            <input class="form-control" type="date" th:field="*{startDate}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="endDate">Ende</label>
            <input class="form-control" type="date" th:field="*{endDate}" required>
        </div>


        <div class="form-group col-md-8">
            <label class="col-form-label" for="amountDaytickets">Anzahl Tagestickets</label>
            <input class="form-control" type="number" id="amountDaytickets" th:name="amountDaytickets"
                th:value="${festival_form.ticketBuilder.amountDaytickets}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="amountCampingtickets">Anzahl Campingtickets</label>
            <input class="form-control" type="number" id="amountCampingtickets" th:name="amountCampingtickets"
                th:value="${festival_form.ticketBuilder.amountCampingtickets}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="priceDayticket">Preis Tagesticket</label>
            <input class="form-control" type="number" id="priceDayticket" th:name="priceDayticket"
                th:value="${festival_form.ticketBuilder.formattedPriceDayticket}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="priceCampingticket">Preis Campingticket</label>
            <input class="form-control" type="number" id="priceCampingticket" th:name="priceCampingticket"
                th:value="${festival_form.ticketBuilder.formattedPriceCampingticket}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="maxVisitors">maximale Besucher</label>
            <input class="form-control" type="number" th:field="*{maxVisitors}" required>
        </div>

        <div class="form-group col-md-8">
            <label class="col-form-label" for="sellingTickets">Tickets verfügbar</label>
            <input class="form-control" type="checkbox" th:field="*{sellingTickets}">
        </div>

        <input class="btn btn-dark" type="submit" value="ok">

        <a id="deleteLink" th:onclick="'deleteFestival(' + ${festival_form.id} + ')'" href="#">Festival löschen</a>
    </form>

</body>

</html>