<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Festival hinzufügen</title>
    </head>

    <body>
        <form th:action="@{/festival/edit}" th:object="${festival_form}" method="POST">
                               <input type="hidden"        th:field="*{id}" >
            Name:              <input type="text"          th:field="*{name}" >
            Location:          <input type="text"          th:field="*{location}" >
            Start:             <input type="text"          th:field="*{startDate}" >
            Ende:              <input type="text"          th:field="*{endDate}" >

            Anzahl Tagestickets:    <input type="number"   th:name="amountDaytickets"      th:value="${festival_form.ticketBuilder.amountDaytickets}" >
            Anzahl Campingtickets:  <input type="number"   th:name="amountCampingtickets"  th:value="${festival_form.ticketBuilder.amountCampingtickets}" >
            Preis Tagestickets:     <input type="number"   th:name="priceDayticket"        th:value="${festival_form.ticketBuilder.formattedPriceDayticket}" >
            Preis Campingtickets:   <input type="number"   th:name="priceCampingticket"    th:value="${festival_form.ticketBuilder.formattedPriceCampingticket}" >

            maximale Besucher: <input type="number"        th:field="*{maxVisitors}" >
            Tickets verfügbar: <input type="checkbox"      th:field="*{sellingTickets}" >

            <input type="submit" value="ok">
        </form>
    </body>
</html>